# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
target/
bin/
# Dependency directories (remove the comment below to include it)
vendor/
resources/data/
resources/redis/
.vscode/
.vscode

dist/
.idea/
# ignore settings file as it could contain secrets
settings.yaml

test.json