replicaCount: 1
image:
  repository: dimozone/devices-api
  pullPolicy: IfNotPresent
  tag: fa15c9f
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
serviceAccount:
  create: true
  annotations: {}
  name: ''
podAnnotations: {}
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1001
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - all
cronJob:
  enabled: false
  schedule: 0 0 * * 0
deployJob:
  enabled: false
env:
  ENVIRONMENT: dev
  PORT: '8080'
  LOG_LEVEL: info
  DB_PORT: '5432'
  DB_NAME: devices_api
  DB_MAX_OPEN_CONNECTIONS: '10'
  DB_MAX_IDLE_CONNECTIONS: '3'
  SERVICE_NAME: devices-api
  JWT_KEY_SET_URL: https://auth.dev.dimo.zone/keys
  DEPLOYMENT_BASE_URL: https://devices-api.dev.dimo.zone
  TOR_PROXY_URL: socks5://tor.p2p:9050
  REDIS_USER: default
  REDIS_PORT: '6379'
  REDIS_TLS: true
  NFT_INPUT_TOPIC: topic.device.nft.mint
  NFT_OUTPUT_TOPIC: topic.device.nft.mint.result
  INGEST_SMARTCAR_URL: http://ingest-smartcar-dev:8080
  INGEST_SMARTCAR_TOPIC: topic.interface.ingest.smartcar
  TASK_RUN_NOW_TOPIC: topic.task.run.now
  KAFKA_BROKERS: kafka-dev-dimo-kafka-kafka-brokers:9092
  DEVICE_STATUS_TOPIC: topic.device.status
  TASK_STOP_TOPIC: table.task.stop
  TASK_CREDENTIAL_TOPIC: table.task.credential
  TASK_STATUS_TOPIC: topic.task.status
  PRIVACY_FENCE_TOPIC: table.device.privacyfence
  EVENTS_TOPIC: topic.event
  DEVICE_DATA_INDEX_NAME: device-status-dev*
  AWS_REGION: us-east-2
  GRPC_PORT: 8086
  AWS_DOCUMENTS_BUCKET_NAME: dimo-network-documents-dev
  NFT_S3_BUCKET: dimo-network-nfts-dev
  USERS_API_GRPC_ADDR: users-api-dev:8086
  VALUATIONS_GRPC_ADDR: valuations-api-dev:8086
  DIMO_REGISTRY_CHAIN_ID: 80001
  IPFS_NODE_ENDPOINT: http://cluster-ipfs-cluster.web3.svc.cluster.local:9094
  DRIVLY_VIN_API_URL: https://vin.dev.driv.ly
  DRIVLY_OFFER_API_URL: https://offers.dev.driv.ly
  DEFINITIONS_GRPC_ADDR: device-definitions-api-dev:8086
  DEVICE_DEFINITION_TOPIC: table.device.definition
  DEVICE_DEFINITION_METADATA_TOPIC: table.device.definition.metadata
  BLACKBOOK_API_URL: https://service.blackbookcloud.com/UsedCarWS/UsedCarWS
  ELASTIC_DEVICE_STATUS_INDEX: device-status-dev-*
  DIMO_REGISTRY_ADDR: '0x4De1bCf2B7E851E31216fC07989caA902A604784'
  MONITORING_SERVER_PORT: 8888
  ENABLE_PRIVILEGES: true
  TOKEN_EXCHANGE_JWK_KEY_SET_URL: http://dex-roles-rights.dev.svc.cluster.local:5556/keys
  CONTRACT_EVENT_TOPIC: topic.contract.event
  VEHICLE_NFT_ADDRESS: '0x90c4d6113ec88dd4bdf12f26db2b3998fd13a144'
  AUTOPI_NFT_IMAGE: autopi.png
  MACARON_NFT_IMAGE: macaron.png
  VINCARIO_API_URL: https://api.vindecoder.eu/3.2
  CHATGPT_URL: https://api.openai.com/v1/chat/completions
  AFTERMARKET_DEVICE_CONTRACT_ADDRESS: '0xcf9af64522162da85164a714c23a7705e6e466b3'
  DIMO_CONTRACT_APIURL: https://contracts-api.dev.dimo.zone/
  NATS_URL: nats-dev:4222
  NATS_STREAM_NAME: DD_VALUATION_TASKS
  NATS_VALUATION_SUBJECT: dd_valuation_tasks
  NATS_DURABLE_CONSUMER: dd-valuation-task-consumer
  NATS_ACK_TIMEOUT: 2m
  SYNTHETIC_DEVICES_ENABLED: true
  SYNTHETIC_WALLET_GRPC_ADDR: synthetic-wallet-instance-dev:8086
  DEVICE_FINGERPRINT_TOPIC: topic.device.fingerprint
  DEVICE_FINGERPRINT_CONSUMER_GROUP: device-fingerprint-vc-issuer
  DEVICE_DATA_GRPC_ADDR: device-data-api-dev:8086
  SYNTHETIC_FINGERPRINT_TOPIC: topic.synthetic.fingerprint
  SYNTHETIC_FINGERPRINT_CONSUMER_GROUP: consumer.synthetic.fingerprint
service:
  type: ClusterIP
  ports:
    mon-http:
      port: 8888
      targetPort: mon-http
      protocol: TCP
    http:
      port: 8080
      targetPort: http
      protocol: TCP
    grpc:
      port: 8086
      targetPort: grpc
      protocol: TCP
ports:
  - name: mon-http
    containerPort: 8888
    protocol: TCP
  - name: http
    containerPort: 8080
    protocol: TCP
  - name: grpc
    containerPort: 8086
    protocol: TCP
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/auth-tls-secret: ingress/cf-origin-ca
    nginx.ingress.kubernetes.io/auth-tls-verify-client: 'on'
    nginx.ingress.kubernetes.io/enable-cors: 'true'
    nginx.ingress.kubernetes.io/cors-allow-origin: https://app.dev.dimo.zone
    nginx.ingress.kubernetes.io/limit-rps: '3'
    external-dns.alpha.kubernetes.io/hostname: devices-api.dev.dimo.zone
  hosts:
    - host: devices-api.dev.dimo.zone
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
resources:
  limits:
    cpu: 250m
    memory: 384Mi
  requests:
    cpu: 100m
    memory: 192Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
podDisruptionBudget:
  minAvailable: 0
kafka:
  clusterName: kafka-dev-dimo-kafka
  topics:
    - name: topic.device.status
      config:
        segment.ms: '3600000'
        compression.type: producer
        cleanup.policy: compact,delete
        min.compaction.lag.ms: '3600000'
    - name: topic.device.status.private
      config:
        segment.ms: '3600000'
        compression.type: producer
        cleanup.policy: compact,delete
        min.compaction.lag.ms: '3600000'
    - name: table.device.integration.smartcar
      config:
        segment.ms: '3600000'
        compression.type: producer
        cleanup.policy: compact
        min.compaction.lag.ms: '3600000'
        min.cleanable.dirty.ratio: '0.01'
        delete.retention.ms: '3600000'
    - name: table.device.integration.autopi
      config:
        segment.ms: '3600000'
        compression.type: producer
        cleanup.policy: compact
        min.compaction.lag.ms: '3600000'
        min.cleanable.dirty.ratio: '0.01'
        delete.retention.ms: '3600000'
    - name: table.aftermarket.device.integration
      config:
        segment.ms: '3600000'
        compression.type: producer
        cleanup.policy: compact
        min.compaction.lag.ms: '3600000'
        min.cleanable.dirty.ratio: '0.01'
        delete.retention.ms: '3600000'
    - name: table.device.privacyfence
      config:
        segment.ms: '3600000'
        compression.type: producer
        cleanup.policy: compact
        min.compaction.lag.ms: '3600000'
        min.cleanable.dirty.ratio: '0.01'
        delete.retention.ms: '3600000'
    - name: devices-vin-fraud-table
      config:
        segment.ms: '3600000'
        compression.type: producer
        cleanup.policy: compact
        min.compaction.lag.ms: '3600000'
        min.cleanable.dirty.ratio: '0.01'
        delete.retention.ms: '3600000'
serviceMonitor:
  enabled: true
  path: /metrics
  port: mon-http
  interval: 30s
